asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.3
django-elasticsearch-dsl==8.0
elastic-transport==8.13.0
elasticsearch==8.13.0
elasticsearch-dsl==8.12.0
et-xmlfile==1.1.0
gitdb==4.0.11
GitPython==3.1.41
idna==3.6
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
psycopg2==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
smmap==5.0.1
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1